body
{
background-color:#eeee00;
background-image: linear-gradient(90deg,orange,white,white,green);
}
hr
{
border-size:2px;
border-color:blue;
width:98.5%;
margin:0px;
padding:0px;

}
h1
{
text-align:center;
background-color:black;
color:red;
}
